.stats-container {
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.filter-card {
  margin-bottom: 20px;
}

.filter-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 15px;
  align-items: center;
}

.stats-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 20px;
}

mat-list-item {
  border-bottom: 1px solid #eee;
  padding: 10px 0;
}

button {
  min-width: 120px;
  padding-top: 12px;
  padding-bottom: 12px;
  border-radius: 40px 40px 40px 40px;
  border: 1px solid #d7e3ff;
  color: #005CBB;
  font-weight: bold;
}

button:hover {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.4); /* Sombra ao passar o mouse */
  opacity: 0.8; /* Opacidade ao passar o mouse */
}